.heart {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 10px;
}

.heart::before,
.heart::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  left: 10px;
  top: 0;
}

.hearts-container {
    display: flex;
    margin: auto;
    justify-content: center;
  }